<h1><%= @sub_task.content %></h1>

<span class="completed-mark"><%= link_to (@sub_task.completed ? 'âœ…' : 'ðŸ”²'), complete_task_sub_task_path(@task, @sub_task), method: :put %></span>
<br><br>
<%= link_to 'å‰Šé™¤', [@task, @sub_task], method: :delete, data: { confirm: 'æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ' } , class: 'btn btn-danger' %>
<br><br>
<%= link_to 'æˆ»ã‚‹', task_path(@task), class: 'btn btn-primary' %>
