body {
  background-color: #f0f8f0;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #2a662a;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e4f2e4;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn-danger {
  background-color: #f44336;
}

.btn-danger:hover {
  background-color: #d32f2f;
}
